$color-base-dark: #212529;
$color-base-light: #ffffff;
$color-accent: #ddd7c0;
$color-secondary-dark: #e13a3a;
$color-secondary-light: #f9c67b;

$bp-mobile: 480px;
$bp-tablet: 815px;
$bp-desktop: 1280px;
