.burger {
  fill: $color-base-dark;
  border: none;
  background-color: transparent;
  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
}
.close-menu {
  position: absolute;
  top: 33px;
  right: 17px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__button {
  padding: 11px;
  color: $color-secondary-dark;
  border: 1px solid $color-secondary-dark;
  background-color: transparent;
  cursor: pointer;
  font-size: 11px;
  &:hover {
    text-decoration: underline;
  }
  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
  @media screen and (min-width: $bp-desktop) {
    display: block;
  }
}
.hero-section__button {
  font-size: 16px;
  font-weight: 900;
  color: $color-base-light;
  background-color: $color-secondary-dark;
  border: 1px solid $color-secondary-dark;
  padding: 20px 31px;
  &:hover {
    color: $color-secondary-dark;
    background-color: $color-base-light;
  }
}
